/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/modules_statuses.json
/Modules
/public/*
!/public/messages.js
!/public/.htaccess
!/public/favicon.ico
!/public/index.php
!/public/robots.txt
!/public/vendor
